<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bear1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,62}</string>
                <key>spriteSourceSize</key>
                <string>{42,62}</string>
                <key>textureRect</key>
                <string>{{0,0},{42,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,62}</string>
                <key>spriteSourceSize</key>
                <string>{57,62}</string>
                <key>textureRect</key>
                <string>{{468,0},{57,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,62}</string>
                <key>spriteSourceSize</key>
                <string>{57,62}</string>
                <key>textureRect</key>
                <string>{{525,0},{57,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,62}</string>
                <key>spriteSourceSize</key>
                <string>{57,62}</string>
                <key>textureRect</key>
                <string>{{582,0},{57,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,62}</string>
                <key>spriteSourceSize</key>
                <string>{42,62}</string>
                <key>textureRect</key>
                <string>{{42,0},{42,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,62}</string>
                <key>spriteSourceSize</key>
                <string>{42,62}</string>
                <key>textureRect</key>
                <string>{{84,0},{42,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,62}</string>
                <key>spriteSourceSize</key>
                <string>{57,62}</string>
                <key>textureRect</key>
                <string>{{126,0},{57,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,62}</string>
                <key>spriteSourceSize</key>
                <string>{57,62}</string>
                <key>textureRect</key>
                <string>{{183,0},{57,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,62}</string>
                <key>spriteSourceSize</key>
                <string>{57,62}</string>
                <key>textureRect</key>
                <string>{{240,0},{57,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,62}</string>
                <key>spriteSourceSize</key>
                <string>{57,62}</string>
                <key>textureRect</key>
                <string>{{297,0},{57,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,62}</string>
                <key>spriteSourceSize</key>
                <string>{57,62}</string>
                <key>textureRect</key>
                <string>{{354,0},{57,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,62}</string>
                <key>spriteSourceSize</key>
                <string>{57,62}</string>
                <key>textureRect</key>
                <string>{{411,0},{57,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bearImage.png</string>
            <key>size</key>
            <string>{639,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c16f51b82a02eb5c6eab3ccfc4b3c177:405ec4df2c19b7d0d23988cd941921ad:aa6f4a7ac8f3d236c466f07b75976391$</string>
            <key>textureFileName</key>
            <string>bearImage.png</string>
        </dict>
    </dict>
</plist>
